@inherits LayoutComponentBase

<PageTitle>BandiIVWebApiGetter</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
   @*     <div class="top-row px-4">

            
        </div>*@

        <article class="content px-4">

            @Body
        </article>
    </main>
</div>
@code{
    [Parameter]
    public string[] BreadCrumbs{ get; set; }
    [Parameter]
    public string BreadCrumbId{ get; set; }
    



}
